/* src/components/EmployeeCard.css */


.employee-card {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer; /* This makes the card clickable */
}

.employee-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.employee-card h4 {
    margin: 0;
    color: #333;
    font-size: 1.3em;
    font-weight: bold;
}

.employee-card p {
    margin: 8px 0;
    color: #555;
    font-size: 0.9em;
}

